* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #121212;
  color: rgb(245, 245, 245);
  font-family: Arial, Helvetica, sans-serif;
}

@mixin flex-direction($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  width: 100%;
  @include flex-direction(0rem);
  align-items: center;

  section {
    max-width: 1900px;
  }

  .section1 {
    width: 100%;
    @include flex-direction(1rem);
    padding: 1rem;

    .section1-part1 {
      width: 100%;
      img {
        width: 100%;
        border-radius: 1rem;
        opacity: 0.8;
      }
    }

    .section1-part2 {
      width: 100%;
      padding: 1.8rem;
      @include flex-direction(5rem);
      background-color: #1e1e1e;
      border-radius: 0.7rem;

      p {
        font-size: 0.9rem;
        text-transform: uppercase;
      }

      .bottom-sec {
        .bottom-text {
          h1 {
            color: #f4f2ed;
            font-weight: 400;
            font-size: 2.2rem;
            line-height: 2.8rem;
            letter-spacing: 1px;
            word-spacing: 3px;
            text-transform: uppercase;
          }
          p {
            color: #b1b1b1;
            font-size: 1.3rem;
            line-height: 2rem;
            font-weight: 500;
            word-spacing: 2px;
            text-transform: none;
          }
        }

        .bottom-btn {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 2rem 0 0 0;

          button {
            padding: 0.5rem;
            border-radius: 50%;
            border: 1px solid #494949;
            background-color: #292929;

            i {
              color: #f4f2ed;
              font-size: 1.3rem;
              font-weight: 100;
            }
          }
        }
      }
    }
  }

  .section2 {
    @include flex-direction(0rem);
    width: 100%;
    padding: 1rem;

    .top,
    .bottom {
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      text-align: center;

      .elements {
        small {
          text-transform: uppercase;
          font-size: 0.9rem;
          letter-spacing: 1px;
          color: #b1b1b1;
        }

        h2 {
          font-size: 2.5rem;
          font-weight: 200;
          padding: 0.5rem 0;
        }
      }
    }
  }

  .section3 {
    width: 100%;
    @include flex-direction(1rem);
    padding: 1rem;

    .section3-part1 {
      img {
        width: 100%;
        border-radius: 1rem;
        opacity: 0.8;
      }
    }

    .section3-part2 {
      width: 100%;
      padding: 1.8rem;
      @include flex-direction(5rem);
      background-color: #1e1e1e;
      border-radius: 0.7rem;

      p {
        font-size: 0.9rem;
        text-transform: uppercase;
      }

      .bottom-text {
        h2 {
          color: #f4f2ed;
          font-weight: 400;
          font-size: 2rem;
          line-height: 2.8rem;
          word-spacing: 3px;
          text-transform: uppercase;
        }

        .paragraphs {
          padding: 1rem 0;
          p {
            color: #b1b1b1;
            font-size: 1.1rem;
            line-height: 1.5rem;
            font-weight: 500;
            word-spacing: 2px;
            text-transform: none;
          }
        }
      }
    }
  }

  .section4 {
    width: 100%;
    @include flex-direction(1rem);
    padding: 1rem;

    .section4-part1 {
      img {
        width: 100%;
        border-radius: 1rem;
        opacity: 0.8;
      }
    }

    .section4-part2 {
      width: 100%;
      padding: 1.8rem;
      @include flex-direction(5rem);
      background-color: #1e1e1e;
      border-radius: 0.7rem;

      p {
        font-size: 0.9rem;
        text-transform: uppercase;
      }

      .bottom-text {
        h2 {
          color: #f4f2ed;
          font-weight: 400;
          font-size: 2rem;
          line-height: 2.8rem;
          word-spacing: 3px;
          text-transform: uppercase;
        }

        .paragraphs {
          padding: 1rem 0;
          p {
            color: #b1b1b1;
            font-size: 1.1rem;
            line-height: 1.5rem;
            font-weight: 500;
            word-spacing: 2px;
            text-transform: none;
          }
        }
      }
    }
  }

  .section5 {
    width: 100%;
    @include flex-direction(1rem);
    padding: 1rem;

    h2 {
      font-size: 2rem;
      font-weight: 300;
    }

    .cards {
      width: 100%;
      @include flex-direction(1rem);

      .card {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 1 / 1;
        opacity: 0.8;
        border-radius: 1rem;
        @include flex-direction(0rem);
        justify-content: space-between;
        padding: 2rem 1rem 1rem 1rem;

        .top {
          display: flex;
          gap: 1rem;
          justify-content: flex-end;

          .icon {
            padding: 0.7rem;
            width: fit-content;
            border: 1px solid #8a8382;
            border-radius: 50%;
            background-color: #80808028;
            backdrop-filter: blur(5px);
          }

          .icon:hover {
            border: 1px solid#f4f2ed;
            cursor: pointer;
          }
        }

        .bottom {
          display: flex;
          justify-content: space-between;
          background-color: #8383834d;
          backdrop-filter: blur(5px);
          padding: 1rem;
          border-radius: 0.3rem;
          border: 1px solid#b1b1b1;

          p {
            text-transform: uppercase;
            font-size: 1.2rem;
            color: white;
          }

          .p2 {
            font-size: 0.9rem;
          }
        }
      }

      .card1 {
        background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
      }

      .card2 {
        background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp);
      }

      .card3 {
        background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp);
      }
    }
  }

  .section6 {
    width: 100%;
    @include flex-direction(1rem);
    padding: 1rem;

    .section6-part1 {
      width: 100%;

      img {
        width: 100%;
        border-radius: 1rem;
        opacity: 0.8;
      }
    }

    .section6-part2 {
      width: 100%;
      padding: 1.8rem;
      @include flex-direction(1rem);
      background-color: #1e1e1e;
      border-radius: 0.7rem;

      p {
        font-size: 1rem;
        text-transform: uppercase;
        color: #9e9d9a;
      }

      .bottom-sec {
        @include flex-direction(1.5rem);

        .bottom-text {
          h2 {
            color: #f4f2ed;
            font-weight: 400;
            font-size: 2.2rem;
            line-height: 2.8rem;
            letter-spacing: 1px;
            word-spacing: 3px;
            text-transform: uppercase;
          }
        }

        .bottom-btn {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 2rem 0 0 0;

          button {
            padding: 0.5rem;
            border-radius: 50%;
            border: 1px solid #494949;
            background-color: #292929;

            i {
              color: #f4f2ed;
              font-size: 1.3rem;
              font-weight: 100;
            }
          }
        }
      }
    }
  }

  .section7 {
    width: 100%;
    padding: 1rem;
    @include flex-direction(1rem);

    .contact {
      background-color: #cebd63;
      color: #000;
      border-radius: 1rem;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 2rem;

      p {
        font-size: 1rem;
        padding: 0.5rem 0;
      }

      .bottom-sec {
        @include flex-direction(1rem);

        .bottom-text {
          h2 {
            font-size: 2.5rem;
            line-height: 2.5rem;
            font-weight: 300;
            text-transform: uppercase;
          }
        }

        .bottom-btn {
          button {
            width: 100%;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid black;
            background-color: #000;
            color: white;
            text-transform: uppercase;


            i {
              font-size: 1.5rem;
              font-weight: 100;
              color: #bcbbb7;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 991px) {
  main {
    .section1 {
      flex-direction: row;
      padding: 0.5rem 1rem;

      .section1-part1,
      .section1-part2 {
        width: 50%;
      }

      .section1-part2 {
        padding: 4.3rem;
        justify-content: space-between;

        .bottom-sec {
          .bottom-text {
            h1 {
              font-size: 4rem;
              line-height: 4.5rem;
            }

            p {
              width: 75%;
              padding: 1rem 0;
            }
          }
        }
      }
    }

    .section2 {
      flex-direction: row;
      padding: 3rem;

      .top,
      .bottom {
        width: 100%;

        .elements {
          h2 {
            font-size: 3.5rem;
          }
        }
      }
    }

    .section3 {
      flex-direction: row-reverse;
      padding: 0.5rem 1rem;

      .section3-part1,
      .section3-part2 {
        width: 50%;
      }

      .section3-part2 {
        padding: 4.3rem;
        justify-content: space-between;

        .bottom-text {
          h2 {
            font-size: 3.2rem;
            line-height: 4rem;
          }

          .paragraphs {
            display: flex;
            gap: 2rem;

            p {
              width: 75%;
              padding: 1rem 0;
              letter-spacing: 1px;
              line-height: 1.8rem;
            }
          }
        }
      }
    }

    .section4 {
      flex-direction: row;
      padding: 0.5rem 1rem;

      .section4-part1,
      .section4-part2 {
        width: 50%;
      }

      .section4-part2 {
        padding: 4.3rem;
        justify-content: space-between;

        .bottom-text {
          h2 {
            font-size: 3.2rem;
            line-height: 4rem;
          }

          .paragraphs {
            display: flex;
            gap: 2rem;

            p {
              width: 75%;
              padding: 1rem 0;
              letter-spacing: 1px;
              line-height: 1.8rem;
            }
          }
        }
      }
    }

    .section5 {
      h2 {
        font-size: 3rem;
        padding: 2rem;
      }
      .cards {
        flex-direction: row;

        .card {
          padding: 2rem;
        }
      }
    }

    .section6 {
      flex-direction: row;
      padding: 0.5rem 1rem;

      .section6-part1,
      .section6-part2 {
        width: 50%;
      }

      .section6-part2 {
        padding: 4rem;

        .bottom-sec {
          width: 80%;
          height: 100%;
          justify-content: space-between;

          .bottom-text {
            h2 {
              font-size: 3rem;
              line-height: 3.5rem;
            }
          }
        }
      }
    }
  }
}
