* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #121212;
  color: rgb(245, 245, 245);
  font-family: Arial, Helvetica, sans-serif;
}

@mixin flex-direction($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  padding: 1rem;
  width: 100%;
  @include flex-direction(0rem);
  align-items: center;

  section {
    max-width: 1900px;
  }

  .section1 {
    @include flex-direction(1rem);

    .section1-part1 {
      img {
        width: 100%;
        border-radius: 1rem;
      }
    }
    .section1-part2 {
      padding: 1.8rem;
      @include flex-direction(5rem);
      background-color: #1e1e1e;
      border-radius: 0.7rem;

      p {
        font-size: 0.9rem;
        text-transform: uppercase;
      }

      .bottom-sec {
        .bottom-text {
          h1 {
            color: #f4f2ed;
            font-weight: 400;
            font-size: 2.2rem;
            line-height: 2.8rem;
            letter-spacing: 1px;
            word-spacing: 3px;
            text-transform: uppercase;
          }
          p {
            color: #b1b1b1;
            font-size: 1.3rem;
            line-height: 2rem;
            font-weight: 500;
            word-spacing: 2px;
            text-transform: none;
          }
        }

        .bottom-btn {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 2rem 0 0 0;

          button {
            padding: 0.5rem;
            border-radius: 50%;
            border: 1px solid #494949;
            background-color: #292929;

            i {
              color: #f4f2ed;
              font-size: 1.3rem;
              font-weight: 100;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 991px) {
  main {
    .section1 {
      flex-direction: row;

      .section1-part1,
      .section1-part2 {
        width: 50%;
      }

      .section1-part2 {
        padding: 4.3rem;
        justify-content: space-between;

        .bottom-sec {
          .bottom-text {
            h1 {
              font-size: 4rem;
              line-height: 4.5rem;
            }

            p {
              width: 75%;
              padding: 1rem 0;
            }
          }
        }
      }
    }
  }
}
